@import url('https://fonts.googleapis.com/css2?family=Bilbo&family=MedievalSharp&family=Montserrat:wght@100&family=Poppins:wght@100&display=swap');
* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #f2eecb;
    font-family: 'MedievalSharp', cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;

}
/*home page styling*/
#fellow img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 800px;
    display: flex;
    opacity: 0.5;
}
#welcome {
    font-family: 'Bilbo', cursive;
    font-size: 5rem;
    position: absolute;
    left: 23%;
    top: 40%;
    background-position: center;
    display: flex;
    align-content: center;
}
#start {
    font-family: 'MedievalSharp', cursive;
    width: auto;
    height: auto;
    border: 1px solid green;
    position: absolute;
    top: 60%;
    left: 41%;
    font-size: 2.5rem;
    border-radius: 10%;
    padding: 10px;
    display: flex;
}
/*quiz page styling*/
.quiz-section {
    background-color: rgb(182, 201, 182);
    border-radius: 20px;
    box-shadow: 5px 2px;
    width: 800px;
    padding: 2%;
}
.quiz-head {
    padding: 2%;
}
h2 {
    padding: 5%;
    text-align: center;
    margin: auto;
}
#next {
    font-family: 'MedievalSharp', cursive;
    width: auto;
    height: auto;
    border: 1px solid rgb(107, 177, 107);
    position: absolute;
    top: 70%;
    left: 80%;
    font-size: 2rem;
    border-radius: 10%;
    padding: 10px;
    display: flex;
}
#next:hover {
    color: darkslategray;
    border: darkolivegreen solid 1px;
    background: transparent;
}
/*Question styling*/
.question{
	font-weight: 600;
    font-size: 2rem;
    font-family: s;
}
.answers {
    margin-bottom: 20px;
    line-height: 5%;
    font-family: 'MedievalSharp', 'Bilbo';
}
/*#submit{
    font-family: 'MedievalSharp', 'Bilbo';
    font-size: 1.5rem;
    background-color: transparent;
    color: darkolivegreen;
    border: 1px solid green;
    border-radius: 6px;
    padding: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    left: 80%;
}
#submit:hover {
    color: darkslategray;
    border: darkolivegreen solid 1px;
    background: transparent;
}*/
ul {
    list-style-type: none;
    padding: 0;
}
ul li{
    font-size: 1.5rem;
    margin: 1rem;
}
ul li label {
    cursor: pointer;
}
button{
    background-color: antiquewhite;
    color: cadetblue;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 2rem;
    border-radius: inherit;
    font-family: 'MedievalSharp';
}
button:hover {
    background-color: beige;
}
